body {
    background-color: #f3f3f3;
}

h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }

p {
    color: #9c9c9c;
}

.card {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-header {
    padding: 2rem 2.2rem;
}
.card-body {
    padding: 2rem 2.2rem;
}
.card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
/*.card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 3px 1px -2px rgba(0, 0, 0, 0.22), 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}*/

.text-center {
    text-align: center;
}

.ui-button {
    font-size: 1em;
    height: 39px;
}
.ui-textbox__label-text, .ui-textbox__input {
    font-size: 1em;
}
.ui-textbox__input {
    height: 3rem;
}

.navbar {
    background-color: #1565c0;
    border-radius: 0px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    border: none;
}
.navbar * {
    color: rgba(255,255,255,0.9);
}
.navbar .dropdown {
    background-color: #1565c0;
}
.navbar .dropdown-menu {
    color: #1565c0;
}
.navbar-nav > li > a {
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar .navbar-brand {
    color: rgba(255,255,255,0.9);
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #FFF;
}
.navbar .dropdown .dropdown-toggle, .navbar .dropdown .dropdown-toggle:hover {
    color: #FFF;
}
.navbar .dropdown.open .dropdown-toggle, .navbar .dropdown.open .dropdown-toggle:hover {
    background-color: rgba(255,255,255,0.5) !important;
    color: #FFFFFF !important;
}
.ui-modal, .ui-modal__header-text {
    font-size: 1.2em;
}
.ui-confirm__message {
    font-size: 1em;
}
.ui-alert {
    line-height: 2;
}
.ui-alert__content {
    font-size: 1.4em;
}
.ui-select__label-text, .ui-select-option.ui-select-option--type-basic, .ui-select__display, .ui-datepicker__label-text {
    font-size: 1em;
}
.ui-collapsible__header-content, .ui-datepicker__display-value {
    font-size: 1.4em;
}
.ui-select:not(.is-multiple) .ui-select__display, .ui-datepicker__display {
    height: 30px;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #eee;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ccc;
}